{% extends 'catalog.html' %}
{% load static %}
{% block main %}

		<main>
			<section class="condition">
				<div class="container">
					<div class="condition__body">
						<div class="condition__item">
							<h3 class="condition__title">
								Условия сервиса
							</h3>
							<p class="condition__desc">
								Информация, размещенная на сайте интернет-магазина qpick.ru, содержит условия предложения покупки товара и представляет собой публичную оферту согласно ст. 437 Гражданского кодекса Российской Федерации. Акцептом Покупателя является оформление заказа на предложенный товар.
								В своей деятельности интернет-магазин руководствуется положениями Гражданского кодекса Российской Федерации, Законом Российской Федерации от 07.02.1992 N 2300-1 «О защите прав потребителей», Правилами продажи товаров дистанционным способом, утвержденными Постановлением Правительства Российской Федерации от 27.09.2007 N 612 и иным действующим законодательством Российской Федерации.
								Настоящие Правила (условия) могут быть изменены интернет-магазином без какого-либо специального уведомления, новая редакция Правил (условий) вступает в силу с момента ее размещения на Сайте calipsoshoes.ru, если иное не предусмотрено новой редакцией Правил (условий), и не распространяется на правоотношения между Покупателем и интернет-магазином, возникшие до вступления новой редакции Правил (условий) в силу.
							</p>
						</div>
						<div class="condition__item">
							<h3 class="condition__title">
								Условия доставки
							</h3>
							<p class="condition__desc">

								Если Вы решили воспользоваться нашей услугой по доставке приобретенного Вами товара — просим Вас ознакомиться с правилами и условиями доставки и передачи товара:
								товар будет доставлен в согласованный с Вами день и определённый временной интервал, Вы будете предупреждены по телефону за час до доставки;
								товар будет доставлен по указанному Вами адресу;
								товар будет занесен на заранее подготовленное место, за исключением случаев, когда:
								при выполнении потребуется перестановка мебели или других предметов;
								при выполнении потребуется снятие с петель дверей в помещения;
								потребуется снятие любых частей товара с целью уменьшения его габаритных размеров;
								расстояние между стороной товара и окружающими предметами и частями помещения при перемещении товара составляет менее десяти сантиметров.

								В этих случаях, в зависимости от возникших причин, товар будет передан Вам или перед подъездом или перед дверью квартиры или в прихожей Вашей квартиры.

								Договор на доставку товара оформляется на кассе магазина в момент оплаты товара. Стоимость доставки, определяется по прейскуранту продавца и зависит от зоны доставки. Доставку нельзя оплатить в кредит. Доставка осуществляется физическим и юридическим лицам.

								Товар будет передан лицу, предъявившему Заявку на доставку, кассовый и/или товарный чек с отметкой об оплате, а также для получения товара Покупатель должен предъявить шестизначный код на каждый заказ. Мы отправили их посредством СМС на номер мобильного телефона, указанного Покупателем при создании заказа. В случае отсутствия кода подтверждения, при Вас будет заполнен Акт выдачи Товара без смс-верификации и /или в отсутствии связи на адресе выдачи. В случае утери Заявки, товар может быть передан лицу, предъявившему кассовый и/или товарный чек с отметкой об оплате, паспорт или иной документ, удостоверяющий личность (заграничный паспорт, водительское удостоверение и т.п.). В этом случае на экземпляре экспедитора заявки на доставку делается отметка «Второй экземпляр заявки на доставку утерян и предъявляться не будет» и заверяется подписью покупателя с расшифровкой фамилии.
								Если данные условия не будут соблюдены, то товар не передается, а Вам необходимо будет посетить магазин для повторного оформления доставки и ее оплаты.

								В случае Вашего отсутствия в месте и во временной интервал, указанные в заявке на доставку, наш экспедитор будет ждать Вас 10 минут, после чего Вам будет оставлено Извещение о доставке. В этом случае Вам будет необходимо оформить и оплатить повторную доставку.

								Будьте внимательны при проверке доставленного Вам товара. Убедитесь в отсутствии видимых механических повреждений и наличии всех предметов, входящих в комплект. Проверьте наличие инструкции по эксплуатации и правильность заполнения гарантийного талона. Факт приема Вами товара по внешнему виду, комплектации и наличию документов подтверждается Вашей подписью в Заявке на доставку Товара и свидетельствует об отсутствии каких-либо претензий к товару.

								Если Вы принимаете товар без вскрытия упаковки и проверки комплектации, то в заявке на доставку экспедитор делает отметку, что товар принят без внешнего осмотра и Вы ставите свою подпись.

							</p>
						</div>
						<div class="condition__item">
							<h3 class="condition__title">
								Условия возврата
							</h3>
							<p class="condition__desc">
								Если доставленный товар имеет видимые внешние повреждения Вы вправе не принимать его и сделать об этом отметку в заявке на доставку. В этом случае повторная доставка товара будет произведена для Вас бесплатно.
								Наличие царапин, трещин, сколов, вмятин или некомплектность Товара, а также претензии к внешнему виду товара, к работе Службы доставки отмечаются Вами в разделе «Претензия» Заявки на доставку.							</p>
						</div>
					</div>
				</div>
			</section>
		</main>
{% endblock %}